@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/** css variables **/
:root {
  /* color */
  --clr-primary-100: #addaff;
  --clr-primary-200: #96d0ff;
  --clr-primary-300: #77c3ff;
  --clr-primary-500: #62bbff;
  --clr-primary-900: #60b8ff;
  --clr-secondary: #8a9cfe;
  --clr-neutral-100: #fff;
  --clr-neutral-700: #444;
  --clr-neutral-900: #000;

  /* font family */
  --ff-primary: "Roboto", sans-serif;

  /* font weight */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  /* font size */
  --fs-100: 0.875rem;
  --fs-200: 1rem;
  --fs-300: 1.125rem;
  --fs-350: 1.25rem;
  --fs-400: 1.5rem;
  --fs-500: 2rem;
  --fs-600: 2.5rem;
  --fs-650: 6rem;
  --fs-700: 6.25rem;
  --fs-900: 9.375rem;

  /* max container width */
  --mcw: 1300px;
}


/** css reset **/
*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

img, picture, svg, video, canvas {
  display: block;
  max-width: 100%;
}

button {
  font-family: inherit;
}


/** general styling **/
body {
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-300);
  line-height: 1.5;
  color: var(--clr-neutral-100);
  position: relative;
}

a {
  color: var(--clr-neutral-100);
}

button {
  color: var(--clr-neutral-100);
}


/** promo banner styling **/
.promo-banner {
  height: 48px;
  background-color: var(--clr-primary-300);
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.promo-banner-link {
  display: flex;
  gap: 0.125rem;
  transition: all 250ms;
}

.promo-banner-link::after {
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  background: url("./assets/icons/redirect.svg") no-repeat;
  align-self: center;
}

.promo-banner-link:hover {
  color: var(--clr-neutral-700);
  text-decoration: underline;
}


/** background styling **/
.background {
  position: absolute;
  top: 0;
  z-index: -1;
  display: flex;
  width: 100vw;
  height: 100%;
}

.layer-1 {
  flex-grow: 3;
  background: linear-gradient(180deg, var(--clr-primary-500) 0%, var(--clr-primary-100) 100%);
}

.layer-2 {
  flex-grow: 1;
  background-color: var(--clr-primary-900);
}

.layer-3 {
  flex-grow: 2;
  background: linear-gradient(180deg, var(--clr-primary-500) 0%, var(--clr-primary-100) 100%);
}

.circle {
  position: absolute;
  border: 1px solid var(--clr-neutral-100);
  border-radius: 50%;
}

.circle-1 {
  height: 600px;
  width: 600px;
  top: calc(50vh - 300px);
  left: calc(50vw - 300px);
}
.circle-2 {
  height: 400px;
  width: 400px;
  top: calc(50vh - 200px);
  left: calc(50vw - 200px);
}
.circle-3 {
  height: 200px;
  width: 200px;
  top: calc(50vh - 100px);
  left: calc(50vw - 100px);
}
.circle-4 {
  height: 50px;
  width: 50px;
  top: calc(50vh - 25px);
  left: calc(50vw - 25px);
}


/** main header styling **/
.main-header-container {
  max-width: var(--mcw);
  padding-inline: 16px;
  margin: auto;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.brand-logo {
  font-weight: var(--fw-black);
  font-size: var(--fs-500);
}

.main-navbar {
  display: none;
  font-size: var(--fs-200);
}

.main-navbar ul {
  padding: 0;
  display: flex;
  gap: 2rem;
}

.main-navbar ul li {
  cursor: pointer;
}

.main-utility-menu {
  display: flex;
  gap: 1.25rem;
}

.main-utility-menu-icon {
  cursor: pointer;
}


/** main styling **/
.main-container {
  max-width: var(--mcw);
  margin: auto;
  padding-inline: 16px;
}


/** jumbo banner styling **/
.jumbo-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
  margin-block: 6rem 2rem;
}

.jumbo-banner-title {
  font-size: var(--fs-700);
  width: 45rem;
}

.jumbo-banner-subtitle {
  font-size: var(--fs-350);
  font-weight: var(--fw-medium);
  line-height: 1.5;
  width: 13.6rem;
}

.jumbo-banner-image {
  position: fixed;
  bottom: 0;
  right: calc((100vw - var(--mcw))/2);
  width: 800px;
  height: auto;
}


/** info styling **/
.info {
  display: flex;
  flex-direction: column;
  width: 45%;
  gap: 2rem;
  position: relative;
  margin-block: 2rem;
}
 
.info-text {
  font-size: var(--fs-350);
}

.shop-btn {
  border: none;
  padding: 1rem 2rem;
  background-color: var(--clr-secondary);
  border-radius: 10rem;
  align-self: start;
  font-size: var(--fs-400);
  font-weight: var(--fw-medium);
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
  transition: all 250ms;
  cursor: pointer;
}

.shop-btn:hover {
  gap: 2rem;
}

.sidebar-info {
  position: absolute;
  writing-mode: vertical-rl;
  height: 10rem;
  top: 3.5rem;
  left: -4.5rem;
}

.extra-info {
  background-color: var(--clr-primary-200);
  padding: 2rem 1rem 1rem;
  position: fixed;
  bottom: 0;
  width: 29rem;
}

.info-img {
  position: absolute;
  bottom: 0;
  left: 2.5rem;
  height: 15.5rem;
  width: auto;
}

.extra-info-title {
  font-size: var(--fs-350);
  font-weight: var(--fw-bold);
  margin-left: 11rem;
}

.extra-info-text {
  font-size: var(--fs-100);
  margin: 1rem 0 2rem 11rem;
}

.empty-block {
  height: 30px;
  width: calc(100% - 20px);
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 10px;
  background-color: var(--clr-primary-100);
  z-index: -1;
}


/** breakpoint(s): >= 576px **/
@media (min-width: 576px) {

}


/** breakpoint(m): >= 768px **/
@media (min-width: 768px) {
  .main-header-container {
    padding-inline: 24px;
  }

  .main-container {
    padding-inline: 24px;
  }
}


/** breakpoint(l): >= 992px **/
@media (min-width: 992px) {
  .main-header-container {
    padding-inline: 6rem;
  }

  .main-navbar {
    display: block;
  }

  .burger-menu {
    display: none;
  }

  .main-container {
    padding-inline: 6rem;
  }
}


/** breakpoint(xl): >= 1300px **/
@media (min-width: 1300px) {
  .main-utility-menu {
    gap: 1.5rem;
  }
}